.skill-container {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-block: 32px;
    height: 100%;

    & .title {
        margin: 8rem 0 4rem 0;

        // text-transform: uppercase;

        & h1 {
            font-size: 4rem;
            letter-spacing: 0.5rem;
            text-align: center;
            transition: color 1s, letter-spacing 1s, text-shadow 1s;

            &:hover {
                cursor: pointer;
                color: #fff;
                letter-spacing: 12px;
                transition: 1s;
                text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
            }
        }
    }

    & .gear {
        position: absolute;
        left: 0;
        top: 10vh;

        & img {
            width: 16vw;
        }
    }

    & .gear2 {
        position: absolute;
        right: 0;
        bottom: 10vh;

        & img {
            width: 16vw;
            transform: rotate(180deg);
        }
    }

    & .gallery {
        width: 52%;
        --size: 60px;
        display: grid;
        grid-template-columns: repeat(auto-fill, var(--size));
        gap: 4px;
        grid-auto-rows: var(--size);
        justify-content: center;
        place-items: start center;
        padding-bottom: 16vh;

        &:has(.item:hover) {
            .item:not(:hover) {
                opacity: 0.6;
            }
        }

        & .gallery--success {
            height: auto;
            padding-bottom: calc(var(--size));
        }

        & .item {
            width: calc(var(--size) * 2);
            height: calc(var(--size) * 2);
            grid-column: auto / span 2;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            transition: all 0.3s ease;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                z-index: 1;
                cursor: pointer;
            }

            & img {
                width: 60%;
                height: 60%;
                /* object-fit: cover; */
            }
        }

        & .moveleft {
            grid-column: 2 / span 2;
        }
    }

    & .honeycomb {
        --height: calc(var(--size) * 2 * 1.1543);
        grid-auto-rows: calc(var(--height) * 3 / 4);

        & .item {
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            height: var(--height);

            &:hover {
                clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
            }
        }
        &.gallery--success {
            padding-bottom: calc(var(--height) / 4);
        }
    }
}

@media screen and (max-width: 840px) {
    .skill-container {
        & .title {
            margin: 6rem 0 2rem 0;

            & h1 {
                font-size: 2.5rem;
            }
        }

        & .gallery {
            --size: 40px; /* Adjust the size for smaller screens */
            width: 80% !important;
        }

        & .honeycomb {
            --height: calc(var(--size) * 2 * 1.1543);
            grid-auto-rows: calc(var(--height) * 3 / 4);

            & .item {
                height: var(--height);
            }
        }
    }
}
