:root {
    --color-text: #fff;
    --color-primary: #49dcec;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #20709e;

    --font-roboto: 'Roboto';

    --random-value: 3000;
}